{{define "title"}}Attachments for "{{.Post.Title}}"{{end}}

{{define "body"}}
<h1>Attachments for <a href="{{.Paths.EditPostWithId .Post.Id}}">{{.Post.Title}}</a></h1>

<fieldset>
  <legend><b>Upload</b></legend>
  <form method="post" enctype="multipart/form-data" style="max-width:none;">
    <div>
      <input type="file" required multiple name="attachments" id="attachments">
    </div>

    {{.CsrfTag}}

    <div>
      <input type="submit" value="Upload" />
      {{if .Msg}}<span id="msg">{{.Msg}}</span>{{end}}
      {{if .ErrMsg}}<span id="err-msg">{{.ErrMsg}}</span>{{end}}
    </div>
  </form>
</fieldset>

{{if .Attachments}}

<p>Current attachments:</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Size</th>
    </tr>
  </thead>
  <tbody>
    {{range .Attachments}}
    <tr>
      <td><a target="_blank" href="{{$.Paths.AttachmentPreview $.Post.Slug .Name}}">{{.Name}}</a></td>
      <td>{{.Size}}</td>
      <td>
        <form class="delete" action="{{$.Paths.AttachmentsDelete}}" method="post" style="display:inline;">
          <input type="hidden" name="post-slug" value={{$.Post.Slug}}>
          <input type="hidden" name="file-name" value={{.Name}}>
          <span><input type="submit" value="delete"></span>
          {{$.CsrfTag}}
        </form>
      </td>
    </tr>
    {{end}}
  </tbody>
</table>

{{end}}

<style>
  input[type="file"] {
    border-radius: 4px;
    background-color: #ddd;
  }

  form.delete input[type=submit] {
    padding: 2px 4px;
  }

  table {
    table-layout: fixed;
  }
</style>
{{end}}
