{{define "title"}}Attachments for "{{.Post.Title}}"{{end}}

{{define "body"}}
<h1>Attachments for <a href="{{.Paths.EditPostWithId .Post.Id}}">{{.Post.Title}}</a></h1>

<fieldset>
  <legend><b>Upload</b></legend>
  <form method="post" enctype="multipart/form-data">
    <div>
      <input type="file" multiple name="attachments" id="attachments">
    </div>

    {{.CsrfTag}}

    <div>
      <input type="submit" value="Upload" />
      {{if .Msg}}<span id="msg">{{.Msg}}</span>{{end}}
    </div>
  </form>
</fieldset>

{{if .Attachments}}

<p>Current attachments:</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Size</th>
    </tr>
  </thead>
  <tbody>
    {{range .Attachments}}
    <tr>
      <td><a target="_blank" href="{{$.Paths.AttachmentPreview $.Post.Slug .Name}}">{{.Name}}</a></td>
      <td>{{.Size}}</td>
      <td>
        <a href="">delete</a>
      </td>
    </tr>
    {{end}}
  </tbody>
</table>

{{end}}

<style>
  input[type="file"] {
    /*border: 1px solid #bbb;*/
    border-radius: 4px;
    background-color: #ddd;
  }
</style>
{{end}}
