<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{template "title" .}} | Bloghead</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <style>
      /* Global look and feel */
      * {
        box-sizing: border-box;
      }
      input,
      textarea {
        font-family: "Roboto Mono", monospace;
        font-size: inherit;
        padding: 0.3rem;
      }
      input[type="submit"],
      input[type="file"]{
        font-family: inherit;
      }

      table {
        border-collapse: collapse;
        width: 100%;
      }
      table, td, th {
        border: 1px solid #ccc;
      }
      td, th {
        padding: 0.25rem 0.5rem;
      }
      thead {
        background-color: #ccc;
        text-align: left;
      }
      tbody tr:hover {
        background-color: #f0f0f0;
      }

      html {
        font-size: 100%;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
        max-width: 900px;
        margin: 1rem auto;
      }

      a {
        /* Effectively disables distracting "visited" link color */
        color: blue;
      }
      a:hover {
        background-color: cornsilk;
      }
      a[target="_blank"]::after {
        content: "↗";
      }

      /* Navbar */
      nav {
        margin-bottom: 1rem;
      }
      nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: inline-block;
      }
      nav ul li {
        display: inline-block;
      }
      nav ul li + li {
        margin-left: 1rem;
      }

      /* Standard forms stuff */
      form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
      input[type="text"],
      input[type="password"],
      textarea {
        width: 100%;
      }
      form .hint {
        color: grey;
        font-size: 0.9rem;
      }
      form .hint a {
        color: inherit;
      }

      .label-text {
        font-weight: bold;
      }

      @keyframes pulse {
        0% {
          background-color: beige;
        }
        100% {
          background-color: transparent;
        }
      }
      #msg {
        color: #aaa;
        padding: 0.3rem;
        animation: .5s ease-out 0s 1 pulse;
      }
      #msg a {
        color: inherit;
      }
      #err-msg {
        color: red;
        padding: 0.3rem;
        animation: .5s ease-out 0s 1 pulse;
      }
    </style>
  </head>

  <body>
    {{if .Paths.InputFile}}
    <nav>
    <ul>
        <li><a href="{{.Paths.Home}}">Posts</a></li>
        <li><a href="{{.Paths.Settings}}">Settings</a></li>
        <li><a href="{{.Paths.Export}}">Export</a></li>
        <li><a href="{{.Paths.Publish}}">Publish</a></li>
        <li><a href="{{.Paths.Preview}}" target="_blank">Preview site</a></li>
    </ul>
    <ul style="float:right;">
        <li>Editing <b>{{.Paths.InputFileName}}</b></li>
    </ul>
    </nav>
    {{end}}

    {{template "body" .}}

<script>
// Pardon the ancient style JS spaghetti - I want this script to be as
// compatible as possible without any transpilation mess.

function appendLoadingIcon(target) {
    var icon = document.createElement("span");
    icon.appendChild(document.createTextNode("⧖"));
    target.parentNode.insertBefore(icon, target.nextSibling);
    icon.style.animation = "spinner 1s linear infinite";
    icon.style.display = "inline-block";
    icon.style.marginLeft = "0.5rem";
    icon.style.color = "grey";
}

(function visualCueWhenSubmittingForm(){
    var forms = document.getElementsByTagName("form");
    for (var i = 0; i < forms.length; i++) {
        forms[i].addEventListener("submit", function(evt){
            // clean up previous (error) messages too while we're at it:
            var msg = document.getElementById("msg");
            msg && msg.remove();
            var errMsg = document.getElementById("err-msg");
            errMsg && errMsg.remove();

            var form = evt.target;
            var inputs = form.getElementsByTagName("input");
            for (var j = 0; j < inputs.length; j++) {
                var inp = inputs[j];
                if (inp.getAttribute("type") === "submit") {
                    inp.setAttribute("disabled", "disabled");
                    appendLoadingIcon(inp);
                }
            }
        });
    }
})();
</script>

<style>
@keyframes spinner {
    100% { transform: rotate(360deg) }
}
</style>

  </body>
</html>
