{{define "title"}}{{.Title}}{{end}}

{{define "body"}}
<h1>{{.Title}}</h1>

{{if .Post.Slug}}
<a target="_blank" href="{{.Paths.Preview}}{{.Post.Slug}}/">Preview live post</a>
{{end}}

<form action="{{.ActionPath}}" method="post">
  <p style="margin:0; float:'right'; display:'block';">
  {{if not .Post.CreatedAt.IsZero}}
  Created: {{.Post.CreatedAt.Format "Monday 2006 Jan 2"}}<br>
  {{end}}

  {{if not .Post.UpdatedAt.IsZero}}
  Updated: {{.Post.UpdatedAt.Format "Monday 2006 Jan 2"}}<br />
  {{end}}
  </p>
  <label for="title">
    <span class="label-text">Title:</span><br />
    <input value="{{.Post.Title}}" type="text" name="title" id="title" required />
  </label>
  <label for="slug">
    <span class="label-text">Slug:</span><br />
    <span class="hint">
        valid characters: a-z, A-Z, 0-9, hyphen, underscore, period, tilde
    </span><br />
    <input value="{{.Post.Slug}}" type="text" name="slug" id="slug" required
        pattern="^[\w\-\.\~]+$" />
  </label>
  <label for="content">
    <span class="label-text">Content:</span><br />
    <span class="hint">
    we use <a tabindex="-1" href="https://djot.net/">djot</a> syntax which is a more
    well-defined Markdown variant - here's a
    <a tabindex="-1" href="https://github.com/jgm/djot/blob/main/doc/cheatsheet.md">cheatsheet</a>
    </span><br />
    <textarea id="content" name="content" cols="30" rows="20" required>{{.Post.Content}}</textarea>
  </label>

  {{.CsrfTag}}

  <div>
    <input type="submit" value="{{.SubmitText}}" />
    {{if .Msg}}
    <span id="msg">
        {{.Msg}}
        — <a target="_blank" href="{{.Paths.Preview}}{{.Post.Slug}}/">preview here</a>
    </span>
    {{end}}

    {{if .ErrMsg}}<span id="err-msg">Error: {{.ErrMsg}}</span>{{end}}
  </div>
</form>
{{end}}
