{{define "title"}}{{.Title}}{{end}}

{{define "body"}}
<h1>{{.Title}}</h1>

<form action="{{.ActionPath}}" method="post">
  <label for="title">
    Title:<br />
    <input value="{{.Post.Title}}" type="text" name="title" id="title" required />
  </label>
  <label for="slug">
    Slug:<br />
    <span style="color:grey;">
        only a-z, A-Z, 0-9, hyphen, underscore, and period are allowed
    </span><br />
    <input value="{{.Post.Slug}}" type="text" name="slug" id="slug" required
           />
  </label>
  <label for="content">
    Content:<br />
    <span style="color:grey;">
    we use <a href="https://djot.net/">djot</a> syntax which is more
    well-defined Markdown variant - here's a
    <a href="https://github.com/jgm/djot/blob/main/doc/cheatsheet.md">cheatsheet</a>
    </span><br />
    <textarea id="content" name="content" cols="30" rows="20" required>{{.Post.Content}}</textarea>
  </label>

  {{.CsrfTag}}

  <div>
    <input type="submit" value="{{.SubmitText}}" />
    {{if .Msg}}<span id="msg">{{.Msg}}</span>{{end}}
    {{if .ErrMsg}}<span id="err-msg">Error: {{.ErrMsg}}</span>{{end}}
  </div>
</form>
{{end}}
