{{define "title"}}Home{{end}}

{{define "body"}}
<h1>{{.Site.Title}}</h1>
<p>{{.Site.Tagline}}</p>

<p><a href="{{.Paths.NewPost}}">+ Create new post</a></p>

<p>All posts:</p>

<ul>
    {{range .Posts}}
    <li><a href="{{$.Paths.EditPost}}{{.Id}}">{{.Title}}</a></li>
    {{end}}
</ul>

<p><a href="{{.Paths.Preview}}">Preview output</a></p>
{{end}}
