{{define "title"}}Bloghead{{end}}

{{define "body"}}
<h1>{{.Site.Title}}</h1>
<p>{{.Site.Tagline}}</p>

<ul>
    <li><a href="new">New post</a></li>
    {{range .Posts}}
    <li><code>{{.Path}}</code> - <b>{{.Title}}</b> - {{.Content}}</li>
    {{end}}
</ul>

<p><a href='www'>Preview output</a></p>
{{end}}
