{{define "title"}}{{.Title}}{{end}}

{{define "body"}}
<h1>{{.Title}}</h1>

<form action="{{.Paths.NewPost}}" method="post">
  <label for="title">
    <span class="label-text">Title:</span><br />
    <input value="{{.Post.Title}}" type="text" name="title" id="title" required />
  </label>
  <label for="slug">
    <span class="label-text">Slug:</span><br />
    <span class="hint">
        this will be in your post's URL e.g. www.mysite.com/<b>my-slug</b>
    </span><br />
    <span class="hint">
        valid characters: letters, numbers, hyphen, underscore, period, tilde
    </span><br />
    <input value="{{.Post.Slug}}" type="text" name="slug" id="slug" required
        pattern="^[\w\-\.\~]+$" />
  </label>

  {{.CsrfTag}}

  <div>
    <input type="submit" value="Create" />
    {{if .ErrMsg}}<span id="err-msg">Error: {{.ErrMsg}}</span>{{end}}
  </div>
</form>
{{end}}
