{{define "title"}}Publish{{end}}

{{define "body"}}
<h1>Publish</h1>

{{if not (and .Nc.Username .Nc.Password)}}

<p>Bloghead lets you publish your site directly to Neocities.</p>

<p style="max-width: 500px;">
  <a href="https://neocities.org/" target="_blank">Create a Neocities account</a>
  if you don't have one yet, then:
</p>

<p>
  <a href="{{.Paths.Neocities}}">Enter Neocities credentials</a> here.
</p>

{{else}}

<form action="{{.Paths.Publish}}" method="post">
  <p>
    Ready to publish to
    <a href="https://{{.Nc.Username}}.neocities.org/" target="_blank">
        <b>{{.Nc.Username}}.neocities.org</b></a>
    — <a href="{{.Paths.Neocities}}">wanna change?</a>
  </p>

  {{.CsrfTag}}

  <div>
    <input type="submit" value="Publish!" />
    {{if .Msg}}<span id="msg">{{.Msg}}</span>{{end}}
    {{if .ErrMsg}}<span id="err-msg">{{.ErrMsg}}</span>{{end}}
  </div>
</form>

{{end}}

{{end}}
